html {
	position: relative;
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	height: 100%;
	font-family: 'Ubuntu', arial, sans-serif;
}

.align-center {
	text-align: center;
	vertical-align: middle !important;
}

.text-right {
	text-align: right;
	vertical-align: middle !important;
}

#header {
	position: relative;
	z-index: 100;
}

.navbar-header {
	width: 100%;
}

.navbar-header>p {
	margin-top: 15px;
}

.navbar {
	margin-bottom: 0;
	color: #fff;
}

.navbar-brand-custom {
	height: 80px; // logo height (50) + 30px padding -- Padding removed for now
}

.logo {
	height: 50px;
}

.navbar .container,
.navbar .container-fluid {
	background-color: #282f39;
}

.page-title {
	float: right;
	color: #fff;
}

@media (min-width: 768px) {
	.footer-bottom>div:first-child {
		text-align: left;
	}
	.footer-bottom>div:last-child {
		text-align: right;
	}
}

.content {
	z-index: 101;
}

.blog-container>h2,
.blog-container>h3 {
	background-color: #0091c4;
	margin: 2px 0;
	line-height: 50px;
	text-align: center;
	color: #fff;
}

.blog-container>h3 {
	line-height: 40px;
	padding: 0 2px;
}

div.blog-section {
	padding: 5px 10px;
	text-align: justify;
}

.blog-container>.blog-section:nth-child(even) {
	background-color: #f2f3f5;
}

.blog-container>.blog-section:last-child {
	margin-bottom: 5px;
}

.blog-section h2,
.blog-section h3,
.blog-section b {
	color: #ff8700;
}

.zoom {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.zoom:hover {
	-webkit-transform: scale(1.05);
	/* Safari and Chrome */
	-moz-transform: scale(1.05);
	/* Firefox */
	-ms-transform: scale(1.05);
	/* IE 9 */
	-o-transform: scale(1.05);
	/* Opera */
	transform: scale(1.05);
}

#howItWorks {
	background-color: #282f39;
	color: white;
}

.sections {
	padding: 10px 0;
}

.sections h1,
.sections h2 {
	text-transform: uppercase;
}

.works-cards {
	margin: 30px 0 20px 0;
}

.works-cards img {
	margin: 0 auto;
	height: 140px;
	width: 140px;
}

.works-cards span {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	min-height: 40px;
}

#aboutUs {
	background-color: #f4f4f4;
	background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #f4f4f4 0%, #fff 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%);
	padding: 30px auto;
}

.about-card {
	background-color: #fff;
	transition: box-shadow .25s;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card-image {
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-content {
	padding: 20px;
	padding-top: 75px;
}

.card-content h3 {
	margin-top: 0;
	text-align: center;
}

.hoverable:hover {
	transition: box-shadow .25s;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.backToTop {
	position: fixed;
	bottom: 50px;
	right: 32px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid #FF8700;
	z-index: 1000;
	transition: all .25s;
}

//.backToTop:hover {
//	bottom: 48px;
//	right: 30px;
//	border-left: 27px solid transparent;
//	border-right: 27px solid transparent;
//	border-bottom: 27px solid #FF8700;
//	transition: all .25s;
//}
.footer {
	background-color: #282f39;
	padding: 0;
	color: white !important;
}

.footer h3 {
	margin-top: 10px;
}

#contactUs .footer-bottom {
	text-align: center;
	margin: 0;
}

.footer-bottom hr {
	border: 1px dotted #f2f3f5;
	width: 50%;
}

.terms-condition-footer {
	padding: 2px 0;
	text-align: left;
}

.footer-bottom a:hover,
.modal-footer a:hover {
	cursor: pointer;
}

.footer-bottom a:hover,
.footer-bottom a:focus {
	color: #fff;
}

.footer-bottom>div {
	padding: 20px 0;
}

.footer-bottom address {
	margin-bottom: 0;
}

.footer-bottom strong {
	font-size: 16px;
	font-weight: 500;
	color: #ff8700;
}

.subscribe-us {
	margin-top: 20px;
}

.subscribe-us input[type="email"] {
	background-color: #282f39;
	border-width: 0 0 2px 0;
	color: white;
	text-align: center;
	border-radius: 0;
	box-shadow: none;
}

.subscribe-us input[type="email"]:focus {
	outline: none;
}

.social {
	margin-top: 20px;
}

.social a {
	margin-left: 10px;
}

.social i {
	background-color: white;
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	-moz-transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

.social i:hover {
	box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.social .fa-facebook {
	color: #3B5998;
}

.social .fa-twitter {
	color: #55ACEE;
}

.social .fa-google-plus {
	color: #DD4B39;
}

.copyright {
	background-color: #f2f3f5;
	padding: 10px 0;
	color: black;
}

.minimum-order {
	color: #FF8700;
	display: inline-block;
	font-size: medium;
	vertical-align: bottom;
}

.required {
	color: #FF8700;
}


/* Large desktop */

@media (min-width: 1200px) {}

.landing {
	height: 100%;
	padding: 0;
}

.landing-full {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-position: left bottom;
	background-size: cover;
	height: calc(100% - 80px);
	width: 100%;
	text-align: center;
	position: relative;
}

.landing-full-text {
	background-color: rgba(40, 47, 57, 0.8);
	color: white;
	transform: translateY(10%);
	-webkit-transform: translateY(10%);
	-ms-transform: translateY(10%);
	padding: 10px 10px 20px 10px;
}

.landing-full-text a {
	line-height: 45px;
}

.landing-full-text p {
	text-align: center;
	position: absolute;
	background-color: #0091c4;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	left: 45%;
	top: 40%;
	padding: 5px;
}

#locations-whyus {
	background-image: radial-gradient(circle, #fff, #B3B4B6);
	background-image: -webkit-radial-gradient(center, #fff 0%, #B3B4B6 100%);
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, from(#FFF), to(#B3B4B6));
}


/* Landscape mode for mobile*/

@media only screen and (max-device-height: 610px) and (orientation: landscape) {
	.landing-full-text {
		transform: translateY(10%);
		-webkit-transform: translateY(10%);
		-ms-transform: translateY(10%);
	}
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand-custom {
		height: 70px; // .logo height (100) + 30px padding
	}
	.navbar-nav>li>a {
		margin-top: 15px;
		padding: 10px;
	}
	.logo {
		height: 40px;
	}
	.landing-full {
		height: calc(100% - 70px);
	}
	.alert {
		top: 70px;
	}
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	.footer-bottom>div {
		width: 90%;
		margin: 0 auto;
	}
	.footer-bottom>div:last-child {
		border-bottom: 0;
	}
}


/* Landscape phones and down */

@media (max-width: 480px) {
	.navbar-brand-custom {
		height: 70px; // .logo height (55) + 30px padding
	}
	.logo {
		height: 40px;
	}
	.landing-full {
		height: calc(100% - 70px);
	}
	.alert {
		top: 70px;
	}
	.navbar .navbar-toggle {
		margin-top: 25px;
	}
	.fixed-header-button {
		font-size: 12px;
	}
}


/* Portrait Iphone 4*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.logo {
		height: 40px;
	}
	.landing-full-text {
		position: relative;
		transform: translateY(10%);
		-webkit-transform: translateY(10%);
		-ms-transform: translateY(10%);
	}
}


/* Portrait IPhone 5*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.logo {
		height: 40px;
	}
	.landing-full-text {
		position: relative;
		transform: translateY(15%);
		-webkit-transform: translateY(15%);
		-ms-transform: translateY(15%);
	}
}


/* Utility Classes */

.color-white {
	color: white;
}

.cursor-pointer {
	cursor: pointer;
}

.default-button {
	background-color: #FF8700;
	color: #fff;
	border: 0;
	-moz-transition: background-color .25s linear;
	-webkit-transition: background-color .25s linear;
	transition: background-color .25s linear;
	padding: 5px 10px;
}

.default-button:hover,
.default-button:focus {
	background-color: #F17F00;
	/*    background: linear-gradient(to bottom, #F17F00 0%, #FF8700 100%);*/
	color: #fff;
	-moz-transition: background-color 0.25s linear;
	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
	outline: none;
}


/* Fixed header CSS */

.fixed-header {
	height: 30px;
	position: fixed;
	background-color: #282828;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	z-index: 999;
}

.fixed-header img {
	height: 28px;
	margin: 0 0 2px 8px;
}

.fixed-header-button {
	padding: 3px 15px;
	margin: 2px 0 0 10px;
	border-radius: 2px;
	line-height: 20px;
}

.fixed-header-link {
	background-color: #0091c4;
	display: inline-block;
}

.fixed-header-link:hover,
.fixed-header-link:focus {
	text-decoration: none;
}

.modal-content {
	border-radius: 0;
}

.modal-content .input-group {
	width: 100%;
}

.input-group .form-control {
	width: 49%;
	display: block;
	float: left;
}

.input-group .form-control:nth-child(2) {
	float: right;
}

#payment-details.input-group .form-control {
	width: 32%;
	display: block;
	float: left;
}

#payment-details.input-group .form-control:nth-child(2) {
	margin-left: 25px;
}

#payment-details.input-group .form-control:last-child {
	float: right;
}

#payment-details.input-group .form-control:last-child>input {
	width: 100%;
}

.modal-header {
	background-color: #0091c4;
	color: white;
	word-spacing: 0.2em;
	letter-spacing: 0.06px;
}

.modal-button {
	height: 30px;
	padding: 5px 10px;
	display: inline-block;
}

.modal-footer {
	margin-top: 0;
	background-color: #f4f4f4;
	padding: 15px;
}

#pricelistModel .modal-dialog {
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 992px) {
	#pricelistModel .modal-dialog {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#pricelistModel .modal-dialog .modal-body {
		width: 100%;
	}
}

#salutation {
	width: 75px;
}

#fullname {
	width: calc(100% - 85px);
	box-shadow: none;
}

#fullname>input:first-child {
	border-radius: 0;
}

#area,
#order-number {
	width: 130px;
}

#address,
#items {
	width: calc(100% - 140px);
}


/* Generic CSS */

.margin-top-bottom-30 {
	margin: 30px 0;
}

.max-width-100 {
	max-width: 100%;
	width: 100%;
}

.padding-margin-0 {
	padding: 0;
	border: 0;
}

#goonjModal .modal-header {
	background-color: #f0f0f0;
	color: #000;
}

.popup-logo {
	height: 70px;
}

.popup-logo-heading {
	font-size: 18px;
	font-weight: 600;
}

.popup-banner {
	max-width: 100%;
	border: 1px solid;
}

#superEconomyModal .modal-body p,
#goonjModal .modal-body p {
	margin-top: 10px;
	margin-bottom: 0;
}

.content-seo,
.content-seo img {
	width: 0;
	height: 0;
	overflow: hidden;
}

.highlight {
	background-color: #76FF03;
	/*#C6FF00;*/
}

.fb-like-container {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	margin-top: 10px;
}

.subscribe-us .form-control:focus {
	border-color: #FF8700;
}

.footer-bottom address a:link {
	color: #ff8700;
	text-decoration: none;
}

.footer-bottom address a:hover {
	border-bottom: 1px solid #ff8700;
}

.store-locator {
	height: 20px;
	margin-top: -10px;
}

.pricelist-container {
	padding: 0;
}

.pricelist-container .footer-section {
	padding: 0;
	border: 0;
}

.pricelist-content {
	margin-top: 30px;
}

.pricelist-content>.row {
	margin-bottom: 50px;
}

.pricelist-content>.row:last-child {
	margin-bottom: 30px;
	margin-top: 100px;
}

.pricelist-section h1,
.pricelist-section h2 {
	color: #ff8700;
	z-index: 99;
	position: relative;
}

@media (min-width: 992px) {
	.pricelist-content .col-md-6:nth-child(n+3) {
		margin-top: 90px;
	}
}

@media (max-width: 991px) {
	.pricelist-content .col-sm-12:not(:first-child) {
		margin-top: 90px;
	}
}

.pricelist-header,
.table-header {
	background-color: #282f39;
	padding: 5px 0;
	color: #ff8700;
	margin-right: 0;
	border-left: 5px solid #282f39;
}

.pricelist-data,
.table-data {
	padding: 2px 0;
}

.pricelist-data:nth-child(odd),
.table-data:nth-child(odd) {
	background-color: #f9f9f9;
}

.table-data>div {
	line-height: 26px;
}

.row-indicator {
	border-left: 5px solid #57b776;
	margin-top: 2px;
	margin-bottom: 2px;
}

.row-delayed {
	border-left-color: #eebc46;
}

.row-risk {
	border-left-color: #e93628;
}

.pricelist-box {
	max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}

.pricelist-full-img {
	width: 100%;
	background-color: #fff;
	transition: box-shadow .25s;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.schedule-now {
	float: right;
	margin-bottom: 10px;
	margin-right: 15px;
}

.alert {
	position: absolute;
	z-index: 101;
	text-align: center;
	display: none;
	top: 80px;
	left: 0;
	right: 0;
}

.full-page-container {
	min-height: calc(100% - 280px);
	background-color: #f9f9f9;
}

.login-section form {
	width: 50%;
}

.login-error {
	color: red;
	margin-bottom: 5px;
	display: inline-block;
}

.input-group {
	width: 100%;
}

.nav-pills .tree>li>a.active,
.nav-pills .tree>li>a.active:hover,
.nav-pills .tree>li>a.active:focus {
	background-color: #F17F00;
	color: #fff;
}

.nav-stacked .tree>li {
	width: 95%;
	float: right;
	margin-top: 1px;
}

.left-nav-header {
	background-color: #282f39;
	color: #fff;
	padding: 10px 5px;
	line-height: 14px;
	cursor: pointer;
	border: 0;
	width: 100%;
}

.right-arrow {
	float: right;
}

.align-right {
	float: right;
}

.right-nav {
	border-left: 2px solid #282f39;
	background-color: #fff;
	min-height: calc(100vh - 300px);
}

@media (max-width: 767px) {
	.right-nav {
		border-left: none;
		padding: 0;
	}
}

.success-message {
	color: #fff;
	background: #282f39;
	display: inline-block;
	padding: 5px;
	width: 80%;
	text-align: center;
}

.error-message {
	color: #F17F00;
	background: #282f39;
	display: inline-block;
	padding: 5px;
	width: 80%;
	text-align: center;
}

.admin-tab-heading {
	margin-top: 0;
	text-align: center;
	margin-bottom: 20px;
	background: #f17f00;
	padding: 13px 0;
	color: #fff;
	border-radius: 5px;
	font-size: 1em;
}

:required {
	border-color: #F17F00;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-capitalize {
	text-transform: capitalize;
}

.filter-panel {
	margin-bottom: 10px;
}

.order-details-page {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 0;
}

.order-details-page.form-horizontal .control-label,
.order-details-page.form-horizontal .radio,
.order-details-page.form-horizontal .checkbox,
.order-details-page.form-horizontal .radio-inline,
.order-details-page.form-horizontal .checkbox-inline {
	padding-top: 0;
}

.close-icon {
	position: absolute;
	right: 30px;
	z-index: 1000;
}

button[disabled] {
	cursor: not-allowed;
	color: #bbb;
}

button[disabled]:hover {
	color: #bbb;
	background-color: #F17F00;
}

.collapse-section {
	margin-bottom: 10px;
}

.collapse-body {
	border: 1px solid #000;
}

.total-values {
	text-align: right;
	font-weight: bold;
}

.bootstrap-select.ng-invalid-required>button {
	border-color: #F17F00;
}

.margin-left-10 {
	margin-left: 10px;
}

.font-bold {
	font-weight: bold;
}

.page-error {
	margin-bottom: 10px;
	font-weight: 600;
	text-align: center;
	color: #FF8700;
}


/* Invoice CSS */

#invoice {
	padding: 1px;
}

#invoice>div[class*="col-xs"] {
	padding-left: 5px;
	padding-right: 5px;
}

#invoice>div[class*="col-xs"]:first-child {
	border-right: 1px dashed #000;
}

.invoice-box {
	border: 1px solid #333;
	padding: 10px;
}

.invoice-header {
	margin-bottom: 10px;
}

.invoice-header strong {
	font-size: 3em;
}

.invoice-header img {
	width: 70px;
	margin-left: 20px;
	margin-top: -20px;
}

.invoice-box>hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #333;
}

.invoice-details {
	margin-bottom: 10px;
}

.invoice-details .key {
	font-weight: bold;
}

.invoice-details .value {}

.invoice-items thead {
	background: #333;
	color: #fff;
}

.invoice-footer {
	border: 1px dotted;
	padding: 0 5px;
	margin-top: -10px;
}

.invoice-footer h5 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 600;
}

.invoice-footer ul,
.invoice-footer span {
	font-size: .8em;
}

.invoice-paid {
	position: absolute;
	height: 100px;
	width: 100px;
	color: red;
	border: 5px solid red;
	border-radius: 50px;
	TEXT-ALIGN: center;
	padding-top: 25px;
	transform: rotate(-30deg);
	font-size: 2em;
	bottom: 215px;
	left: 100px;
}


/* Tags CSS */

.tags-container {
	width: 150px;
	margin: 0 auto;
	text-align: center;
}

.tag {
	padding: 10px;
	border-bottom: 1px solid;
}

.tag .order-number {
	font-size: 2em;
}

.tag .tag-number {
	font-size: 1.5em;
	font-weight: bold;
}

.tag .item-name {
	font-size: 1.2em;
	word-break: break-all;
	max-width: 100%;
	padding: 5px 0;
}

.tag .wash-type {
	font-size: 1em;
}

.selected-subscription-details {
	margin-top: 10px;
}

.padding-left-10 {
	padding-left: 10px;
}


/* Accordion CSS */

.accordion-header {
	cursor: pointer;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	padding: 10px;
}

.accordion-body {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .125);
}
