.full-page-container {
    min-height: calc(100% - 112px);
}

.login-section form {
    width: 97.5%;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.navbar .navbar-toggle {
    background-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #282f39;
}

.navbar .navbar-toggle {
    margin-top: 18px;
    margin-right: 0;
}

.navbar-nav>li>a {
    font-size: medium;
    color: #fff;
    border: 2px solid #282f39;
}

.navbar-nav>li>a:hover {
    color: #FF8700;
    background-color: #fff;
}

.navbar-nav>li>a:focus {
    color: #FF8700;
    background-color: #fff;
}

.navbar-nav .active {
    color: #FF8700;
    background-color: #fff;
}

.mobile-row {
    background-color: #fff;
    padding: 1px 10px 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-row hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-section {
    min-height: 30px;
}

.input-group-custom-mobile {
    padding-left: 15px;
    padding-right: 15px;
}

.input-group-custom-mobile .form-control {
    width: 100%;
}

.success-message {
    color: green;
    padding-top: 5px;
    display: block;
    width: 100%;
    background: none;
    text-align: right;
}

.error-message {
    color: red;
    padding-top: 5px;
    display: block;
    width: 100%;
    background: none;
    text-align: right;
}