<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Anurag Dwivedi">
	<meta name="revised" content="5/5/2017" />
	<meta name="description" content="Login page for admin users in Laundrynerds app">
	<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
	<meta http-equiv="expires" content="Sat, 4 Aug 2017 00:00:00 GMT">
	<meta http-equiv="pragma" content="no-cache">

	<title>Admin Login</title>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="../css/admin.css?v1.6" rel="stylesheet">
	<link href="../css/mobile.css?v1.1" rel="stylesheet">
</head>

<body ng-app="laundrynerdsMobileApp">

	<!-- Begin page header -->
	<header id="header">
		<nav class="navbar navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-brand-custom navbar-left" href="../">
						<img class="logo img-responsive" alt="Laundrynerds Logo" src="../images/logo-full.svg">
					</a>
					<p class="navbar-brand navbar-right page-title">Admin</p>
				</div>
			</div>
		</nav>
	</header>
	<!-- End page header -->

	<!-- Begin page content -->
	<div class="content container full-page-container" ng-controller="LoginCtrl">
		<!-- Subscription section -->
		<section class="container-fluid sections login-section">
			<div class="container">
				<div class="row">
					<span class="login-error" ng-if="loginStatus.length > 0">{{loginStatus}}</span>
					<form ng-submit="submit()">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" placeholder="Username" required ng-model="username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password" required ng-model="password">
						</div>
						<input class="btn btn-default" type="submit" value="Login">
					</form>
				</div>
			</div>
		</section>
	</div>
	<!-- End page content -->

	<!-- Begin page footer -->
	<footer id="footer" class="footer container">
		<div class="text-center copyright">&copy; Copyright 2017 Laundrynerds</div>
	</footer>
	<!-- End page footer -->

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-cookies.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="../vendor/js/angular-ui-router.min.js"></script>-->
	<script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="../js/mobileApp.js?v1.2"></script>
	<script type="text/javascript" src="../js/commonsApp.js?v1.1"></script>
	<script type="text/javascript" src="../js/mobileControllers.js?v1.2"></script>
	<script type="text/javascript" src="../js/directives.js?v1.1"></script>
</body>

</html>
