<h2 class="admin-tab-heading">{{selectedNav}} Orders</h2>

<!-- viewport for child view -->
<ui-view></ui-view>

<div class="row filter-panel">
	<div class="col-xs-12 col-sm-3">
		<input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
	</div>
</div>
<div ng-if="orders.length > 0" style="margin-left: 15px;">
	<div class="row table-header">
		<div class="col-xs-1">Order Number</div>
		<div class="col-xs-2">Full Name</div>
		<div class="col-xs-2">Mobile</div>
		<div class="col-xs-1">Delivery Date</div>
		<div class="col-xs-1">Placed On</div>
		<div class="col-xs-2" ng-if="$parent.selectedNav === 'online'">Slot</div>
		<div class="col-xs-2">Status</div>
		<div ng-class="$parent.selectedNav === 'online' ? 'col-xs-1' : 'col-xs-3'" style="text-align: right;">Action</div>
	</div>
	<div class="row table-data row-indicator" ng-repeat="order in orders | filter:searchText" ng-class="lineStatusIndicator(order.deliveryDate)">
		<div class="col-xs-1">
			<a ui-sref-active="active" ng-href="{{getLink(order)}}">
			  {{order.orderNumber || order.orderId}}
			</a>
		</div>
		<!--		<div class="col-xs-1">{{order.orderNumber}}</div>-->
		<div class="col-xs-2 ellipsis text-capitalize" ng-attr-title="{{order.user.firstName + ' ' + (order.user.lastName === null ? '' : order.user.lastName)}}">{{order.user.firstName + ' ' + (order.user.lastName === null ? '' : order.user.lastName)}}</div>
		<div class="col-xs-2 ellipsis" ng-attr-title="{{order.user.mobile}}">{{order.user.mobile}}</div>
		<div class="col-xs-1">{{order.deliveryDate | date:'MMM dd'}}</div>
		<div class="col-xs-1">{{order.pickupDate | date:'MMM dd'}}</div>
		<div class="col-xs-2 ellipsis" ng-if="$parent.$parent.selectedNav === 'online'">{{order.pickupSlot}}</div>
		<div class="col-xs-2">
			<select class="form-control" ng-model="order.orderStatus">
											<option ng-repeat="status in orderStatus.options" value="{{status}}">{{status}}</option>
										</select>
		</div>
		<div ng-class="$parent.selectedNav === 'online' ? 'col-xs-1' : 'col-xs-3'" style="text-align: right;">
			<button type="button" class="default-button" ng-attr-id="{{'update-order-btn-' + order._id}}" ng-click="updateOrder(order)" data-loading-text="Saving." data-complete-text="Saved!" data-error-text="Error!">Save</button>
		</div>
	</div>
</div>
<div ng-if="orders.length === 0">
	No orders available
</div>
