<h2 class="admin-tab-heading">Laundry / Dry Cleaning Pricelist</h2>

<div class="row filter-panel">
	<div class="col-xs-12 col-sm-3">
		<input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
	</div>
</div>

<div ng-if="pricelists.length > 0" style="margin-left: 15px;">
	<div class="row table-header">
		<div class="col-xs-4">Item</div>
		<div class="col-xs-2">Wash & Iron</div>
		<div class="col-xs-2">Dry Cleaning</div>
		<div class="col-xs-2">Iron</div>
		<div class="col-xs-2" style="text-align: right">Action</div>
	</div>
	<div class="row table-data" ng-repeat="p in pricelists | filter:searchText">
		<div class="col-xs-4 ellipsis" ng-attr-title="{{p.itemDisplayName}}">{{p.itemDisplayName}}</div>
		<div class="col-xs-2">
			<input type="number" class="form-control" placeholder="Wash & Iron Price" min="1" step="1" ng-model="p.laundryPrice">
		</div>
		<div class="col-xs-2">
			<input type="number" class="form-control" placeholder="Dry Clean Price" min="1" step="1" ng-model="p.drycleanPrice">
		</div>
		<div class="col-xs-2">
			<input type="number" class="form-control" placeholder="Iron Price" min="1" step="1" ng-model="p.ironPrice">
		</div>
		<div class="col-xs-2" style="text-align: right">
			<button type="button" class="default-button" ng-attr-id="{{'update-pricelist-btn-' + p._id}}" ng-click="updatePricelist(p)" data-loading-text="Saving." data-complete-text="Saved!" data-error-text="Error!">Save</button>
		</div>
	</div>
</div>
